
<!-- Partial view is a view inside a view it doesnt have a model_-->
@inject Microsoft.AspNetCore.Identity.SignInManager<CRUDApp.Models.ApplicationUser> signInManager
@if(signInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm " asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-blue nav-link">Hello, @User.Identity.Name!</li>
            <li  class="text-white nav-link"><a href="javascript:document.getElementById("logotForm").submit()">Log Off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <!--Html  helpers-->
        @*@<li> @Html.ActionLink("Sign Up ", "Register", "Account", routeValues:null,htmlAttributes: new{id= "registerLink"})</li>*@

        <!--Use tag helpers coz they are more recent-->
        <a class="nav-link" id="registerlink" asp-controller="Account" asp-action="Register">Register</a>
         <a class="nav-link" id="loginlink" asp-controller="Account" asp-action="Login">Login</a>

         @*<li> @Html.ActionLink(" Sign In", "Login", "Account", routeValues:null,htmlAttributes: new{id= "loginLink"})</li>*@
    </ul>
}